DOMAIN=example.com
WWW_DOMAIN=www.example.com
LETSENCRYPT_EMAIL=you@example.com
WORDPRESS_VERSION=6.9.4
PHP_VERSION=8.3

MYSQL_ROOT_PASSWORD=rootpassword_change_me
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress_db_pass_change_me

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress_db_pass_change_me
